/* GLOBAL */
body {
    font-family: 'Segoe UI', sans-serif;
    background: rgb(128, 128, 128);
    margin: 0;
}

/* CARD BOX */
.center-box {
    width: 340px;
    margin: 80px auto;
    padding: 30px;
    background: rgb(128, 128, 0);
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* INPUTS */
input, textarea {
	width: 80%;          /* smaller */
	padding: 10px;
	margin: 10px auto;   /* center horizontally */
	display: block;      /* center requires block */
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
    font-size: 15px;
    transition: 0.2s ease;
}

input:focus, textarea:focus {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(74,144,226,0.5);
    outline: none;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #4a90e2, #357ABD);
    color: rgb(255, 0, 128);
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgb(255, 255, 255);
}

/* NAVBAR */
.navbar {
    background: rgb(0, 0, 0);
    padding: 14px 20px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.08);
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #357abd;
    font-weight: bold;
}

/* NOTES CARDS */
.note-card {
    width: 500px;
    margin: 12px auto;
    padding: 18px;
    background: rgb(255, 0, 255);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation: fadeIn 0.3s ease;
}

/* DELETE BUTTON */
.note-card button {
    background: #FF4C4C;
    padding: 8px 14px;
    width: auto;
    border-radius: 6px;
}

.note-card button:hover {
    background: #E93B3B;
}
