<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="center-box">
    <h2>Create Account</h2>

    <input id="username" placeholder="Username" />
    <input id="password" type="password" placeholder="Password" />

    <button onclick="registerUser()">Register</button>

    <p id="msg"></p>

    <p style="margin-top:15px;">
        <a href="/login">← Back to Login</a>
    </p>
</div>

<script>
function registerUser() {
    const u = document.getElementById("username").value;
    const p = document.getElementById("password").value;

    fetch("/auth/register", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ username: u, password: p })
    })
    .then(res => res.text())
    .then(() => {
        document.getElementById("msg").innerText = "User created!";
    });
}
</script>

</body>
</html>
